<!DOCTYPE html>
<html>
  <body>
    <h2>New Contact Form Submission</h2>
    <p>
      You have received a new contact form submission with the following
      details:
    </p>

    <ul>
      <li><strong>Name:</strong> {{ user_name }}</li>
      <li><strong>Email:</strong> {{ user_email }}</li>
      <li><strong>Service Interest:</strong> {{ service_interest }}</li>
    </ul>

    <p>Please respond to this inquiry within 24 hours.</p>

    <p>Best regards,<br />Unity Credit Union Team</p><br>
    <p>Your membership - Our Proud Concern</p>
  </body>
</html>
